.bg-green {
  background-color: #f0ffeb;
}

.dataTables_wrapper {
  border: 1px solid #c7ecb8;
}

.dataTables_filter input {
  width: 50%;
  text-indent: 5px;
}

.dataTables_length {
  margin: 10px;
}

div.dataTables_wrapper .dataTables_filter input {
  width: 100%;
  margin: 10px;
  border: 1px solid #c7ecb8;
}

.dataTables_info {
  padding: 5px;
}

@media (min-width: 768px) {
  div.dataTables_wrapper .dataTables_filter input {
      width: 500px;
  }
}

.overflow-auto {
  max-width: 400px;
  text-overflow: ellipsis;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
/* เจาะจง search box ของ DataTables */
.dataTables_filter input[type="search"] {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 14px;
}

/* ถ้าต้องการเอา label "Search:" ออก */
.dataTables_filter label {
  font-weight: normal;
  color: #666;
}
